{% extends "preload.html" %} 
{% block preload %} 
  <main id="main">

    <!-- ======= Timeline Section ======= -->
    <section id="timeline" class="timeline">

      <div class="timeline">
        <div class="outer">

          {% for timeline_post in timeline_posts %}

            <div class="card">
              <div class="info">
                <h3 class="title">{{ timeline_post['name']|title }}</h3>
                <p>{{ timeline_post['email'] }}</p><br />
                <p>{{ timeline_post['content'] }}</p><br />
                <p>{{ timeline_post['created_at'] }}</p>
              </div>
            </div>

          {% endfor %}

        </div>
      </div>

    </section><!-- End Timeline Section -->

  </main><!-- End #main -->
  {% endblock %}