{% extends "preload.html" %} 
{% block preload %} 
  <main id="main">

    <!-- ======= Timeline Section ======= -->
    <section id="timeline" class="timeline">

      <div class="timeline">
        <div class="outer">

          {% for timeline_post in timeline_posts %}

            <div class="card">
              <div class="info">
                <h3 class="title">{{ timeline_post['name']|title }}</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
            </div>

          {% endfor %}

        </div>
      </div>

    </section><!-- End Timeline Section -->

  </main><!-- End #main -->
  {% endblock %}